{% extends 'base.html' %}
{% load static %}

{% block content %}
{% csrf_token %}


<body style="background: rgb(108,0,129);
background: linear-gradient(90deg, rgba(108,0,129,1) 0%, rgba(63,28,112,1) 40%, rgba(0,100,255,1) 100%);">
    <link rel="stylesheet" href="{% static 'css/bootstrap-todolist.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">

    <nav class="navbar navbar-expand-lg bg-light" style="background: rgb(108,0,129);
    background: linear-gradient(90deg, rgba(108,0,129,1) 0%, rgba(63,28,112,1) 40%, rgba(0,100,255,1) 100%);">
      <div class="container-fluid">
        <a class="navbar-brand" style="color:antiquewhite;">To Do List</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" style="color:antiquewhite;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Menu
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'todolist:create-task' %}">Create Task</a></li>
                <li><a class="dropdown-item" href="{% url 'todolist:register' %}">Register</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'todolist:logout' %}">Log Out</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br></br>
    <h1 style="color:antiquewhite">{{ info }}</h1>
    <br></br>

            <div class="row row-cols-md-3 mx-auto" style="width: 100%;">
      
                {% for task in task_list %}
                  <div class="col">
                      <div class="card border-primary mb-3">
                          <div class="card-body">
                              
                              <h3 class="card-title" style="padding-bottom: 5px">{{task.title}}</h3>
                              <h6 class="card-subtitle">{{task.date}}</h6>
                              <p class="card-text">{{task.description}}</p>
                              <p class="card-text">
                                {% if task.finish == False %}
                                Tugas Belum Selesai
                                {% else %}
                                Tugas Selesai
                                {% endif %}
                              </p>
              
                              <p style="text-align: center;">
                                  <a style="width: 7rem;" class="btn login_btn btn-outline-primary form-control" href="{% url 'todolist:progres' task.pk %}">Progres</a>
                                  <a style="width: 7rem;" class="btn login_btn btn-outline-danger form-control lg" href="{% url 'todolist:delete_task' task.pk %}">Hapus</a>
                              </p>
                          </div>
                      </div>
                  </div>
                {% endfor %}
              </div>
</body>


{% endblock content %}