{% extends 'base.html' %}

 {% block content %}
<style>
    table {
    table-layout: fixed;
    background-color: #2f78c7;
}

table, th, td{
    border-collapse: collapse;
    border: 1px solid black;
}

body{
    background-color: #bdc72f;
}

th,
td {
  padding: 10px;
}


tbody tr:nth-child(even) {
  background-color: #3ea1b4;
}



</style>
  <h1>Tugas 3 PBP</h1>

  <h5>Name: </h5>
  <p>{{nama}}</p>

  <h5>Student ID: </h5>
  <p>{{npm}}</p>

  <table>
    <tr>
      <th>Watched</th>
      <th>Tittle</th>
      <th>Rating</th>
      <th>Release Date</th>
      <th>Review</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
    {% for mywatchlist in list_film %}
    <tr>
        <td>{{mywatchlist.film_watched}}</td>
        <td>{{mywatchlist.film_tittle}}</td>
        <td>{{mywatchlist.film_rating}}</td>
        <td>{{mywatchlist.film_release_date}}</td>
        <td>{{mywatchlist.film_review}}</td>
    </tr>
    {% endfor %}
  </table>

 {% endblock content %}
